header{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 999; */
    
    
}
.navi{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8a5a5;
    background-attachment: fixed;
    position: fixed;
}
.navi .logo img{
    padding-left: 5px;
    width: 150px;
    height: 90px;
}

.navi nav{
    width: 850px;
    display: flex;
    justify-content: space-around;
    
   
}
.navi nav a{
    text-decoration-style: solid;
    color: brown;
    text-decoration: wavy;
    text-transform: uppercase;
    
}

.navi button{
   
    padding: 12px 45px;
     text-align: center;
     font-size: 20px;
     color: #fff;
     border: none;
     background-color: rgba(31, 1, 1, 0.6);
     border-radius: 10px;
     margin-right: 10px;

}
.bg{ width:100% ;
    height: 1500px;
    background-image: url(img/dr.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.reqB{
    margin-left: 800px;
    margin-top: 180px;
}
.para{
    margin-top: 100px;
}
/* .para p{
    padding: 90px 790px;
   text-decoration: solid;
   color: #fd7272;
   font-size: 30px;
} */
.reqB p{
 
    text-decoration: solid;
    color: #fd7272;
    font-size: 35px;
    /* margin-bottom: 10px;
    padding-bottom: 10px; */
}
.reqB button{
   
    padding: 12px 45px;
    font-size: 20px;
  /* margin-top: 10px; */
  
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(39, 1, 1, 0.8);
}

.vid video{
    /* display: flex;
    justify-content: space-between; */
    width: 600px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(236, 11, 11);
   
}
.vid video:first-child{
    margin-left: 0px;
    margin-top: 0px;
}
.vid video:last-child{
    margin-left:  120px;
    
}